---
layout: default
title: Jimi Labs 
---

<div id="home">

<table width=99%>
<tr>
    <td width=33%><h2>Java</h2></td>
    <td width=33%><h2>Database</h2></td>
    <td width=33%><h2>Software</h2></td>
</tr>
<tr>
<td valign=top>
    <ol class="posts">
    {% for post in site.categories["java"] %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ol>
</td>
<td valign=top>
    <ol class="posts">
    {% for post in site.categories["database"] %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ol>
</td>
<td valign=top>
    <ol class="posts">
    {% for post in site.categories["software"] %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ol>
</td>
</tr>
</table>

<!--
    <ul class="posts">
        {% for post in site.posts %}
        <li> <span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
-->
</div>
